/* - Green: hsl(75, 94%, 57%)

- White: hsl(0, 0%, 100%)

- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%) */

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
    --light: 400;
    --normal: 600;
    --bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 14px;
    font-weight: var(--light);
    
}
body{
    background-color: var(--grey900);
}
main{
    width: 90%;
    max-width: 350px;
    margin-inline: auto;
    background-color: var(--grey800);
    color: white;
    height: auto;
    margin-top: 40px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    img{
        border-radius: 50%;
        width: 20%;
        margin-bottom: 10px;
    }
    h1{
        font-size: 1.3rem;
        font-weight: var(--bold);
        margin-bottom: 5px;
    }
    h2{
        font-size: .8rem;
        font-weight: var(--bold);
        color:var(--green);
        margin-bottom: 15px;
    }
    p{
        font-size: 1rem;
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.788);
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        a{
            text-decoration: none;
            color: white;
            font-weight: var(--bold);
            padding: 10px 20px;
            border-radius: 8px;
            transition: background-color 0.3s ease;
            width: 100%;
            text-align: center;
            background-color: var(--grey700);
            margin-bottom: 12px;

            &:hover, &:focus, &:active{
                background-color: var(--green);
                color:black;
            }
        }
    }
    .attribution{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
         
        .one, .two{
            color:rgba(255, 255, 255, 0.4);
                a{
                    margin-left: 10px;
                    color:white;
                    text-decoration: none;
                    font-weight: var(--bold);
                    transition: background-color 0.3s ease;

                    &:hover, &:focus{
                        color:var(--green);
                    }
                }
        }

    }
}


